body {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.choice {
    cursor: pointer;
    padding: 10px;
}

.choice:hover {
    border: 3px solid blue;
}

.choice img {
    width: 150px;
    height: 150px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 40px;
    cursor: default;
}

.feedback {
    font-size: 25px;
}